<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biye.hxpj.mapper.ComputeWmDailyfirmrecordMapper">
  <resultMap id="BaseResultMap" type="com.biye.hxpj.model.ComputeWmDailyfirmrecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="scale" jdbcType="VARCHAR" property="scale" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="firm_name" jdbcType="VARCHAR" property="firmName" />
    <result column="date_day" jdbcType="VARCHAR" property="dateDay" />
  </resultMap>
  <sql id="Base_Column_List">
    id, scale, update_time, firm_name, date_day
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from compute_wm_dailyfirmrecord
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM compute_wm_dailyfirmrecord
    ORDER BY id DESC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from compute_wm_dailyfirmrecord
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.biye.hxpj.model.ComputeWmDailyfirmrecord">
    insert into compute_wm_dailyfirmrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="scale != null">
        scale,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="firmName != null">
        firm_name,
      </if>
      <if test="dateDay != null">
        date_day,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="scale != null">
        #{scale,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="firmName != null">
        #{firmName,jdbcType=VARCHAR},
      </if>
      <if test="dateDay != null">
        #{dateDay,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    INSERT INTO compute_wm_dailyfirmrecord(scale, update_time, firm_name, date_day)
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.scale},#{item.updateTime},#{item.firmName},#{item.dateDay})
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.biye.hxpj.model.ComputeWmDailyfirmrecord">
    update compute_wm_dailyfirmrecord
    <set>
      <if test="scale != null">
        scale = #{scale,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="firmName != null">
        firm_name = #{firmName,jdbcType=VARCHAR},
      </if>
      <if test="dateDay != null">
        date_day = #{dateDay,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>