<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biye.hxpj.mapper.HoneycombChargingPileMapper">
  <resultMap id="BaseResultMap" type="com.biye.hxpj.model.HoneycombChargingPile">
    <id column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
  </resultMap>
  <sql id="Base_Column_List">
    device_id, title, type, pid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from honeycomb_charging_pile
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from honeycomb_charging_pile
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.biye.hxpj.model.HoneycombChargingPile">
    insert into honeycomb_charging_pile (device_id, title, type, 
      pid)
    values (#{deviceId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{pid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.biye.hxpj.model.HoneycombChargingPile">
    insert into honeycomb_charging_pile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="pid != null">
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.biye.hxpj.model.HoneycombChargingPile">
    update honeycomb_charging_pile
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=VARCHAR},
      </if>
    </set>
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.biye.hxpj.model.HoneycombChargingPile">
    update honeycomb_charging_pile
    set title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR}
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </update>
</mapper>