<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biye.hxpj.mapper.HoneycombWmApartmentroomMapper">
  <resultMap id="BaseResultMap" type="com.biye.hxpj.model.HoneycombWmApartmentroom">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="apartment_id" jdbcType="BIGINT" property="apartmentId" />
    <result column="room_id" jdbcType="BIGINT" property="roomId" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, apartment_id, room_id, device_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from honeycomb_wm_apartmentroom
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByTwoId" resultMap="BaseResultMap">
    SELECT * FROM honeycomb_wm_apartmentroom
    WHERE apartment_id = #{apartmentId,jdbcType=BIGINT} and room_id = #{roomId,jdbcType=BIGINT}
  </select>
  <select id="findAllWm" resultMap="WmResultMap">
    SELECT * FROM honeycomb_wm_apartmentroom wmapart,firm_apartmentroom fapart
    <where>
      wmapart.apartment_id=fapart.apartment_id AND wmapart.room_id=fapart.room_id
      <if test="apartId != null and apartId != ''">
        AND wmapart.apartment_id=#{apartId}
      </if>
      <if test="roomId != null and roomId != ''">
        AND wmapart.room_id=#{roomId}
      </if>
    </where>
  </select>
    <select id="selectByDevice" resultMap="BaseResultMap">
      SELECT
      <include refid="Base_Column_List"/>
      FROM honeycomb_wm_apartmentroom
      WHERE device_id=#{deviceId}
    </select>
    <resultMap id="WmResultMap" type="com.biye.hxpj.model.HoneycombWmApartmentroom">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="apartment_id" jdbcType="BIGINT" property="apartmentId" />
    <result column="room_id" jdbcType="BIGINT" property="roomId" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <association property="firmApartmentroom" javaType="com.biye.hxpj.model.FirmApartmentroom">
      <id column="id" jdbcType="BIGINT" property="id" />
      <result column="apartment_id" jdbcType="BIGINT" property="apartmentId" />
      <result column="room_id" jdbcType="BIGINT" property="roomId" />
      <result column="firm" jdbcType="VARCHAR" property="firm" />
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from honeycomb_wm_apartmentroom
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.biye.hxpj.model.HoneycombWmApartmentroom">
    insert into honeycomb_wm_apartmentroom
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="apartmentId != null">
        apartment_id,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="apartmentId != null">
        #{apartmentId,jdbcType=BIGINT},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.biye.hxpj.model.HoneycombWmApartmentroom">
    update honeycomb_wm_apartmentroom
    <set>
      <if test="apartmentId != null">
        apartment_id = #{apartmentId,jdbcType=BIGINT},
      </if>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>