<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biye.hxpj.mapper.HxscreenScreen23Mapper">
  <resultMap id="BaseResultMap" type="com.biye.hxpj.model.HxscreenScreen23">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="times" jdbcType="VARCHAR" property="times" />
    <result column="water_use" jdbcType="VARCHAR" property="waterUse" />
    <result column="ele_use" jdbcType="VARCHAR" property="eleUse" />
  </resultMap>
  <sql id="Base_Column_List">
    id, times, water_use, ele_use
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hxscreen_screen2_3
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM hxscreen_screen2_3
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from hxscreen_screen2_3
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.biye.hxpj.model.HxscreenScreen23">
    insert into hxscreen_screen2_3
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="times != null">
        times,
      </if>
      <if test="waterUse != null">
        water_use,
      </if>
      <if test="eleUse != null">
        ele_use,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="times != null">
        #{times,jdbcType=VARCHAR},
      </if>
      <if test="waterUse != null">
        #{waterUse,jdbcType=VARCHAR},
      </if>
      <if test="eleUse != null">
        #{eleUse,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.biye.hxpj.model.HxscreenScreen23">
    update hxscreen_screen2_3
    <set>
      <if test="times != null">
        times = #{times,jdbcType=VARCHAR},
      </if>
      <if test="waterUse != null">
        water_use = #{waterUse,jdbcType=VARCHAR},
      </if>
      <if test="eleUse != null">
        ele_use = #{eleUse,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>