<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biye.hxpj.mapper.HxscreenWaterDailyuseMapper">
  <resultMap id="BaseResultMap" type="com.biye.hxpj.model.HxscreenWaterDailyuse">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="building1_use" jdbcType="VARCHAR" property="building1Use" />
    <result column="building2_use" jdbcType="VARCHAR" property="building2Use" />
    <result column="building3_use" jdbcType="VARCHAR" property="building3Use" />
  </resultMap>
  <sql id="Base_Column_List">
    id, update_time, building1_use, building2_use, building3_use
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hxscreen_water_dailyuse
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM hxscreen_water_dailyuse
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from hxscreen_water_dailyuse
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.biye.hxpj.model.HxscreenWaterDailyuse">
    insert into hxscreen_water_dailyuse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="building1Use != null">
        building1_use,
      </if>
      <if test="building2Use != null">
        building2_use,
      </if>
      <if test="building3Use != null">
        building3_use,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="building1Use != null">
        #{building1Use,jdbcType=VARCHAR},
      </if>
      <if test="building2Use != null">
        #{building2Use,jdbcType=VARCHAR},
      </if>
      <if test="building3Use != null">
        #{building3Use,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.biye.hxpj.model.HxscreenWaterDailyuse">
    update hxscreen_water_dailyuse
    <set>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="building1Use != null">
        building1_use = #{building1Use,jdbcType=VARCHAR},
      </if>
      <if test="building2Use != null">
        building2_use = #{building2Use,jdbcType=VARCHAR},
      </if>
      <if test="building3Use != null">
        building3_use = #{building3Use,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>