<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biye.hxpj.mapper.HxscreenScreenMapMapper">
  <resultMap id="BaseResultMap" type="com.biye.hxpj.model.HxscreenScreenMap">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="times" jdbcType="VARCHAR" property="times" />
    <result column="build1_use" jdbcType="VARCHAR" property="build1Use" />
    <result column="build2_use" jdbcType="VARCHAR" property="build2Use" />
    <result column="build3_use" jdbcType="VARCHAR" property="build3Use" />
    <result column="build1_wateruse" jdbcType="VARCHAR" property="build1Wateruse" />
    <result column="build2_wateruse" jdbcType="VARCHAR" property="build2Wateruse" />
    <result column="build3_wateruse" jdbcType="VARCHAR" property="build3Wateruse" />
  </resultMap>
  <sql id="Base_Column_List">
    id, times, build1_use, build2_use, build3_use, build1_wateruse, build2_wateruse, 
    build3_wateruse
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hxscreen_screen_map
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM hxscreen_screen_map
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hxscreen_screen_map
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.biye.hxpj.model.HxscreenScreenMap">
    insert into hxscreen_screen_map
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="times != null">
        times,
      </if>
      <if test="build1Use != null">
        build1_use,
      </if>
      <if test="build2Use != null">
        build2_use,
      </if>
      <if test="build3Use != null">
        build3_use,
      </if>
      <if test="build1Wateruse != null">
        build1_wateruse,
      </if>
      <if test="build2Wateruse != null">
        build2_wateruse,
      </if>
      <if test="build3Wateruse != null">
        build3_wateruse,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="times != null">
        #{times,jdbcType=VARCHAR},
      </if>
      <if test="build1Use != null">
        #{build1Use,jdbcType=VARCHAR},
      </if>
      <if test="build2Use != null">
        #{build2Use,jdbcType=VARCHAR},
      </if>
      <if test="build3Use != null">
        #{build3Use,jdbcType=VARCHAR},
      </if>
      <if test="build1Wateruse != null">
        #{build1Wateruse,jdbcType=VARCHAR},
      </if>
      <if test="build2Wateruse != null">
        #{build2Wateruse,jdbcType=VARCHAR},
      </if>
      <if test="build3Wateruse != null">
        #{build3Wateruse,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.biye.hxpj.model.HxscreenScreenMap">
    update hxscreen_screen_map
    <set>
      <if test="times != null">
        times = #{times,jdbcType=VARCHAR},
      </if>
      <if test="build1Use != null">
        build1_use = #{build1Use,jdbcType=VARCHAR},
      </if>
      <if test="build2Use != null">
        build2_use = #{build2Use,jdbcType=VARCHAR},
      </if>
      <if test="build3Use != null">
        build3_use = #{build3Use,jdbcType=VARCHAR},
      </if>
      <if test="build1Wateruse != null">
        build1_wateruse = #{build1Wateruse,jdbcType=VARCHAR},
      </if>
      <if test="build2Wateruse != null">
        build2_wateruse = #{build2Wateruse,jdbcType=VARCHAR},
      </if>
      <if test="build3Wateruse != null">
        build3_wateruse = #{build3Wateruse,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>