<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biye.hxpj.mapper.TotalWmHourMapper">
  <resultMap id="BaseResultMap" type="com.biye.hxpj.model.TotalWmHour">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="data_hour" jdbcType="VARCHAR" property="dataHour" />
    <result column="data_scale" jdbcType="DECIMAL" property="dataScale" />
  </resultMap>
  <sql id="Base_Column_List">
    id, data_hour, data_scale
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from total_wm_hour
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM total_wm_hour
    ORDER BY id DESC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from total_wm_hour
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.biye.hxpj.model.TotalWmHour">
    insert into total_wm_hour
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dataHour != null">
        data_hour,
      </if>
      <if test="dataScale != null">
        data_scale,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dataHour != null">
        #{dataHour,jdbcType=VARCHAR},
      </if>
      <if test="dataScale != null">
        #{dataScale,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.biye.hxpj.model.TotalWmHour">
    update total_wm_hour
    <set>
      <if test="dataHour != null">
        data_hour = #{dataHour,jdbcType=VARCHAR},
      </if>
      <if test="dataScale != null">
        data_scale = #{dataScale,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>